.register {
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    margin-top: 3%;
    padding: 3%;
    border-radius: 2.5rem;
    border: none;
}

h3 {
    color: #e9ecef;
}

.btnSubmit {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
    margin-right: 6%;
    background-color: white;
    color: blue;
    margin-top: 4%;
}

label,
h6 {
    color: #e9ecef;
}

h6 a {
    color: #afceec;
    font-size: 15px;
    font-weight: normal;
}